<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="pdf-gen" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="stdout_json" />
    </root>

</configuration>
