<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <provider class="net.logstash.logback.composite.loggingevent.ArgumentsJsonProvider" />
        </encoder>
    </appender>

    <logger name="pdfgen" level="INFO"/>
    <logger name="org.apache.pdfbox" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="stdout_json" />
    </root>

    <logger name="org.apache.pdfbox" level="ERROR" />

</configuration>

