name: Build main
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.gitignore'
      - 'LICENCE'
      - 'CODEOWNERS'

jobs:
  build:
    name: Checkout code and run tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Set up Java 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          architecture: x64
          cache: 'gradle'
      - name: Build gradle artifacts
        shell: bash
        run: |
          ./gradlew shadowJar
      - name: Run tests
        run: |
          ./gradlew test
